*.pyc
*.log
*.db
*.pid
*~
*.xlsx
*.xlsx#
.DS_Store
/static/
/media/
/hnw/settings.py
hnw.sqlite3
src/
tmp/
TAGS
*.swp
*.bak
.whoosh_index
/test_hnw.sqlite3
.ropeproject/
/.projectile
/docs/*.html
/docs/*.odt
/docs/*.pdf
/docs/*.tex
/.agignore
*.swo
result_*.sql
.python-version
.idea
nohup.out
*.rdb
celerybeat*
migrations/
/venv
/static/rest_framework/
